.header {
    background: #2e2a2a;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    top: 0;
    width: 100vw;
    z-index: 999;
    border-bottom: 2px solid #242424;
}
.logo {
    margin-left: 20px;
    color: #b3a5a5;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px 1px black;
}
.header__show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 99;
    padding: 0;
    top: 0;
    left: 0;
}
.filter__button {
    border: 0;
    background: #b3a5a5;
    height: 46px;
    width: 120px;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    margin: 10px;
}
.filter {
    height: 80%;
}