.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    color: #3d3d3d;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #2e2a2a;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}
.card__desc {
    display: none;
}
.card__desc__full {
    display: block;
    font-weight: 300;
    text-align: justify;
    color: black;
    padding-bottom: 10px;
}
.image {
    width: 100%;
}
.image__wrapper {
    display: flex;
    flex: 0.5;
    overflow: hidden;
    max-width: 950px;
}
.title__Wrapper {
    display: flex;
    flex: 0.5 1;
    flex-direction: column;
    background: #dbcfcf;
    padding: 12px;
    color: black;
    justify-content: space-between;
    max-width: 950px;
}
.card__title {
    padding-top: 5px;
}
.card__source {
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fullCard {
    position: fixed;
    width: 95%;
    height: 95%;
    z-index: 999;
    background: white;
    cursor: auto;
    max-width: 500px;
    max-height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card__title__full {
    font-size: 22px;
    padding-bottom: 10px;
}
.title__Wrapper__full {
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 70px 12px;
}
.card__source__full {
    overflow: revert;
    padding-bottom: 18px;
}
.fullButtons {
    display: none;
}
.fullButtons__show {
    display: flex;
    position: fixed;
    bottom: 1%;
    width: 100%;
    justify-content: space-around;
}
.fullButtons > button, .fullButtons > a {
    border: 0;
    background: #2e2a2a;
    color: white;
    font-size: 16px;
    font-weight: 500;
    width: 42%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__wrapper {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #2e2a2a;
    align-items: center;
}